# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*
~$*

# IDE files #
/.idea
.spyproject
.spyderproject

# Distribution #
/build/
/dist/

# Notebooks #
.ipynb_checkpoints/
*.ipynb

# Others #
/docs_from_mail/
/logo/